@charset "utf-8";
/* reset */
*{
    margin: 0;
}

/* common */
h2 {
    height: 135px;
    background: gray;
}
section > p {
    height: 54px;
    background: skyblue;
}
/* 블록레벨요소의 가로 가운데 배치 */
section > div {
    width: 960px;
    background: olive;
    margin: 0 auto;
}


/* header */
nav {
    height: 54px;
    background: pink; 
}
/* section1 */
#home {
    height: 1053px;
    background: khaki;
}
/* section2 */
.num {
    background: yellow;
}

/* section3 */
/* section4 */

/* footer */