@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
}

li {
    list-style: none;
}

.logo {
    display: flex;
    padding: 32px;
}

/* header */
.menu li {
    display: inline-block;
}

.util_menu {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    position: relative;
    transform: translate(0, -95px);
    left: 625px;
    z-index: 9999;
    width: 1008px;
    padding: 0 25px;
    height: 154px;
}

.bg_menu{
    display: block;
    margin: 24px;
    transform: translate(10px, -180px);    
}

/* section */
section li{
    display: inline-block;
    transform: translate(450px, -32px);
    margin: 0 6 30px;
    padding: 4px;
}

/* 앨범 */
.column {
    float: left;
    width: 30.5%;
    height: 45px;
    padding: 4px;
    top: 100px;
    margin-bottom: 95px;
  }
  
  /* 앨범 image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }