@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  color: #000;
}

li {
  list-style: none;
}

.logo {
  display: flex;
  padding: 32px;
}

/* header */
.header {
  display: block;
  width: 1008px;
  height: 192px;
  margin: 0 1px 0 1px;
  padding: 0 19px 0 19px;
}
.menu li {
  display: inline-block;
}

.util_menu {
  display: block;
  position: relative;
  width: 1008px;
  height: 10px;
  bottom: 125px;
  text-align: end;
}

.util_menu a {
  font-weight: 100;
  color: black;
}

.util_menu a:hover {
  color: black;
}

.rolling-container {
  overflow: hidden;
  transform: translate(420%, -220%);
  width: 96px; /* 롤링 컨테이너의 너비 조절 */
  height: 30px; /* 롤링 컨테이너의 높이 조절 */
}

.rolling {
  display: block;
  padding: 0;
  margin: 0;
  animation: rolling-scroll 20s linear infinite; /* 롤링 애니메이션 적용 */
}

.rolling li {
  padding: 10px;
  text-align: center;
}

.rolling span {
  color: gray;
}

.rolling a {
  color: black;
}

@keyframes rolling-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.bg_menu {
  display: inline-block;
  height: 38px;
  background: #ffffff; 

}

.bg_menu a {
  font-size: 1.03rem;
  font-weight: 600;
  color: black;
}

.bg_menu a:hover {
  color: green;
}

/* section */
section li {
  display: inline-block;
  transform: translate(400px, -38px);
  margin: 0 6 35px;
  padding: 4px;
}

section {
  margin: 12px;
  padding: 4px;
  
}

/* 앨범 */
.column {
  float: left;
  width: 30.5%;
  height: 45px;
  padding: 4px;
  top: 100px;
  margin-bottom: 95px;
}

/* 앨범 image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
