@charset "utf-8";

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
}

li {
  list-style: none;
}

.logo {
  display: flex;
  padding: 32px;
}

/* header */
.menu li {
  display: inline-block;
}

.util_menu {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  position: relative;
  transform: translate(0, -95px);
  left: 625px;
  z-index: 9999;
  width: 1008px;
  padding: 0 25px;
  height: 154px;
}

.rolling-container {
  overflow: hidden;
  transform: translate(420%, -220%);
  width: 96px; /* 롤링 컨테이너의 너비 조절 */
  height: 30px; /* 롤링 컨테이너의 높이 조절 */
}

.rolling {
  display: block;
  padding: 0;
  margin: 0;
  animation: rolling-scroll 20s linear infinite; /* 롤링 애니메이션 적용 */
}

.rolling li {
  padding: 10px;
  text-align: center;
}

.rolling span {
  color: green;
}

.rolling a {
  color: black;
}

@keyframes rolling-scroll {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-100%);
  }
}

.bg_menu {
  display: inline-block;
  margin: 24px;
  transform: translate(20px, -180px);
}

/* section */
section li {
  display: inline-block;
  transform: translate(400px, -38px);
  margin: 0 6 35px;
  padding: 4px;
}

section {
  margin: 12px;
  padding: 4px;
  top: -120px;
}

/* 앨범 */
.column {
  float: left;
  width: 30.5%;
  height: 45px;
  padding: 4px;
  top: 100px;
  margin-bottom: 95px;
}

/* 앨범 image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
