@charset "utf-8";
/* 초기화 */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.clearfix::after {
    content: '';
    clear:both;
    display: block;
}


/* 공통 */
#wrap {
    /* 가로 가운데 맞춤 */
    width: 1200px;
    margin: 0 auto;
}
header, #contents, footer {
    /* float: left; */
    display:flex;
}

/* 헤더 */
header {
    background-color: lightblue;
}
/* 로고 */
.logo {
    height: 100px;
    background-color: lightgreen;
}
/* 내비게이션 */
nav {
    width: 1000px;
    height: 100px;
    background-color: purple;
}
/* 슬라이드 */
#slide {
    height: 300px;
    background-color: lightcoral;
}
/* 메인 콘텐츠 */
#contents {
    height: 200px;
}
#contents div {
    height: 400px;
}
.tabs {
    width: 200px;
    height: 100px;
    background-color: olive;   
}
.banner {
    width: 300px;
    height: 100px;
    background-color: peru;
}
.shortcut {
    width: 300px;
    height: 300px;
}
#contents {
    height: 200px;
    background-color: lightcyan;
}
/* 푸터 */
footer {
    background-color: lightgoldenrodyellow;
}
.b_logo {
    width: 200px;
    height: 100px;
    background-color: brown;
}
.addr {
    width: 800px;
    height: 100px;
    background-color: beige;
}
.sns {
    width: 200px;
    height: 100px;
    background-color: lightpink;
}